body {
	font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}
.mdl-layout {
	font-family: 'PT Sans Narrow', sans-serif;
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
	font-family: 'PT Sans Narrow', sans-serif;
    padding: 24px;
    flex: none;
}
.mdl-textfield__error {
    width: 100%;
    left: 0;
 text-align: left;
}
.mdl-data-table{
	font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px;
    flex: none;
}
.mdl-textfield__input{
	font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px;
    flex: none;
}
.mdl-button{
	font-family: 'PT Sans Narrow', sans-serif;
    flex: none;
}